
<google-map
  [options]="mapOptions"
  height="100%"
  width="100%"
  (mapClick)="click($event)"
>
  <map-marker
    #mapMarker="mapMarker"
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(mapMarker, marker)"
  >
  </map-marker>
  <!-- <map-info-window>{{ info }}</map-info-window> -->
  <map-info-window
    ><app-info-window
      [title]="title"
      [eventDetails]="eventDetails"
      [address]="address"
      [otherInformation]="otherInformation"
    ></app-info-window
  ></map-info-window>
=======
<google-map [options]="mapOptions" height="100%" width="100%" (mapClick)="click($event)">
    <map-marker
      #mapMarker="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfo(mapMarker, marker)">
    </map-marker>
    <!-- <map-info-window>{{ info }}</map-info-window> -->
    <map-info-window><app-info-window [title]=title [address]=address [eventDetails]=eventDetails [otherInformation]=otherInformation></app-info-window></map-info-window>

</google-map>
