<!DOCTYPE html>
<html lang="en"></html>
<main>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link rel="stylesheet" href="landing-page.component.css" />
    <title>Welcome!</title>
  </head>

  <body>
    <header id="showcase">
      <img
        src="https://uofi150.news-gazette.com/images/places/ui150-art-alma.png"
        alt="Cartoon illustration of Alma Mater statue"
        style="width: 250px; height: 375px"
      />

      <h1>Welcome!</h1>
      <p>
        IlliniMap: The best place to find campus and community-wide events in
        Urbana-Champaign!
      </p>
      <a routerLink="/map" class="button"> View Map </a>
    </header>
  </body>
</main>
